:root {
    --additional100: #262626;
    --additional16: rgba(38, 38, 38, 0.16);
    --additional16S: #DCDCDC;
    --additional24: rgba(38, 38, 38, 0.24);
    --additional24S: #C7C7C7;
    --additional4: rgba(38, 38, 38, 0.04);
    --additional4S: #F5F5F5;
    --additional40: rgba(38, 38, 38, 0.4);
    --additional40S: #B2B2B2;
    --additional60: rgba(38, 38, 38, 0.6);
    --additional60S: #858585;
    --additional80: rgba(38, 38, 38, 0.8);
    --additional8: rgba(38, 38, 38, 0.08);
    --additional8S: #E8E8E8;
  
    --info: #AD42F5;
    --infoTransparent16: rgba(173, 66, 245, 0.16);
    --infoTransparent24: rgba(173, 66, 245, 0.24);
    --infoTransparent40: rgba(173, 66, 245, 0.4);
    --infoTransparent8: rgba(173, 66, 245, 0.08);

  
    --success: #148F2B;
    --successTransparent16: rgba(20, 143, 43, 0.16);
    --successTransparent24: rgba(20, 143, 43, 0.24);
    --successTransparent40: rgba(20, 143, 43, 0.4);
  
    --warning: #E35502;
    --warningTransparent16: rgba(227, 85, 2, 0.16);
    --warningTransparent24: rgba(227, 85, 2, 0.24);
    --warningTransparent40: rgba(227, 85, 2, 0.4);
    --warningTransparent8: rgba(227, 85, 2, 0.08);
  }